<head>
    <link href="~/desktopmodules/mvc/DNNModule1/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/DNNModule1/lib/fontawesome-6.1.1/css/all.min.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/DNNModule1/lib/DataTables/DataTables-1.11.3/css/jquery.dataTables.min.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/DNNModule1/lib/DataTables/Buttons-2.0.1/css/buttons.dataTables.css" rel="stylesheet" />

    <link href="~/desktopmodules/mvc/DNNModule1/lib/select2/dist/css/select2.min.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/DNNModule1/css/site.css" rel="stylesheet" />
    <link href="~/desktopmodules/mvc/DNNModule1/lib/DataTables/checkboxes.css" rel="stylesheet" />
</head>
<body>
    <div id="mvcContainer-@Dnn.ActiveModule.ModuleID">
        @RenderBody()
    </div>
</body>

<script src="~/desktopmodules/mvc/DNNModule1/lib/jquery/dist/jquery.min.js"></script>
<script src="~/desktopmodules/mvc/DNNModule1/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
<script src="~/desktopmodules/mvc/DNNModule1/lib/DataTables/DataTables-1.11.3/js/jquery.dataTables.min.js"></script>
<script src="~/desktopmodules/mvc/DNNModule1/lib/DataTables/Buttons-2.0.1/js/dataTables.buttons.min.js"></script>
<script src="~/desktopmodules/mvc/DNNModule1/lib/DataTables/JSZip-2.5.0/jszip.min.js"></script>
<script src="~/desktopmodules/mvc/DNNModule1/lib/DataTables/Buttons-2.0.1/js/buttons.html5.min.js"></script>
<script src="~/desktopmodules/mvc/DNNModule1/lib/select2/dist/js/select2.min.js"></script>
<script src="~/desktopmodules/mvc/DNNModule1/lib/select2/dist/js/i18n/vi.js"></script>
<script src="~/desktopmodules/mvc/DNNModule1/lib/ckeditor/ckeditor.js"></script>
<script src="~/desktopmodules/mvc/DNNModule1/lib/DataTables/checkboxes.min.js"></script>

